@import "variables";


.kanban-board-header {
    legend {
        display: block;
		width: 100%;
		margin-left: 0;
		margin-bottom: 0.6em;
		padding: 0.3em 0;
		border-bottom: 2px solid $color2-light;

		font-family: $fontFamilyHeader;
		font-weight: 300;
		font-size: 1.2em;
		text-transform: uppercase;
    }
}