@import "variables";

@mixin font-face($relativePath: './') {
    @font-face {
        font-family: 'icomoon';
        src:  url($relativePath + 'fonts/icomoon.eot?ui1hbx#iefix') format('embedded-opentype'),
            url($relativePath + 'fonts/icomoon.ttf?ui1hbx') format('truetype'),
            url($relativePath + 'fonts/icomoon.woff?ui1hbx') format('woff'),
            url($relativePath + 'fonts/icomoon.svg?ui1hbx#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

.media {
    &.gantt {
        display: block;
        box-shadow: none;
        padding: 0.5em 0 0.5em 1em;

        &.milestone {
            border: 1px solid $milestoneColor;
        }

        &.requirement {
            border: 1px solid $requirementColor;
        }

        &.way {
            border: 1px solid $wayColor;
        }
    
        &.step {
            border: 1px solid $stepColor;
        }

        &.todo {
            border: 1px solid $todoColor;
        }
    }

    &.active {
        outline: 2px dashed $activeColor;
    }
}
.vue-tree-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.item-icon {
        margin-right: 4px;
        &:hover {
            color: inherit;
        }
    }
    &:hover {
        color: red;
    }
}
.icon-file:before {
    content: "\e906";
}
.icon-folder:before {
    content: "\e907";
}
.icon-caret-down:before {
    content: "\e900";
}
.icon-caret-up:before {
    content: "▲";
}
.icon-caret-right:before {
    content: "\e901";
}
.icon-edit:before {
    content: "\e902";
}
.icon-folder-plus-e:before {
    content: "\e903";
}
.icon-plus:before {
    content: "\e904";
}
.icon-trash:before {
    content: "\e905";
}
.border {
    height: 5px;
    &.up {
        margin-top: -5px;
        background-color: transparent;
    }
    &.bottom {
        // background-color: #c00;
    }
    &.active {
        border-bottom: 3px dashed yellow;
        /*background-color: blue;*/
    }
}
.tree-node {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 1rem;
    .input {
        border: none;
        max-width: 150px;
        border-bottom: 1px solid blue;
    }
    .dummyHover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 5px;
    }
    &:hover > .dummyHover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .icon-caret {
        margin-left: -1rem;
        z-index: 9999;
    }
    .operation {
        margin-left: 2rem;
        letter-spacing: 1px;
        z-index: 9999;
    }
}
.item {
    cursor: pointer;
}
.tree-margin {
    margin-left: 0.5em;
}

.work {
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px;
    text-align: right;
}